@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>PurplePen</title>
     <link href="~/Content/css/normalize.css" rel="stylesheet" />
    <link href="~/Content/css/screen.css" rel="stylesheet" />
    <script type="text/javascript" src="http://code.createjs.com/easeljs-0.6.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dot.js"></script>
    

</head>
<body>
    @RenderPage("~/Views/Navigation/Navigation.cshtml")
    <div id="wrapper">
        <div id="uploadedDesign">
           
     
            @foreach (var item in @ViewBag.current)
            {
                
                <h5>@item.title</h5>
                
                if (@ViewBag.flag == "flag")
                { 
                    <div class="message">This design has been flagged</div>
                }
                else
                {
                <form method="delete">
                    <input class="hide" name="ID" value="@item.versionID" />
                     <input type="button" class="flatBtn" value="Show dots" onclick="showDots()" />
            <input type="button" class="flatBtn" value="Hide dots" onclick="removeDots()" />
                    <a class="flatBtn" href="@Url.Action("Flag", "Home",  new { ID=@item.versionID})">X Flag</a>
                 
                </form>
                
                }
                
            
               

                <div id="design" style="position:relative; display: block;">
                    <img id="imgDesign" src="~/uploads/@item.url" style="position:absolute; display: block;" />
                    <canvas id="placeDots" width="500" height="500"  style="position:absolute; display: block;"></canvas>
                    <p id="designDescription">@item.description</p>

                    @foreach (var item2 in ViewBag.alldots)
                    {
                        <div id="dot@(item2.ID)" onclick="showDotID(@item2.ID)" class="dotstyle" style="height: @((item2.score * 2) + 20)px; width: @((item2.score *2) + 20)px; display:block; position:absolute; top:@(item2.Y - 10 - (item2.score))px; left:@(item2.X - 10 - (item2.score))px; background-color: red; border-radius: @(10 + item2.score)px;">
                        </div>
                        
    

                    }

                    @foreach (var item2 in ViewBag.alldots)
{
    <div id="dotDiv@(item2.ID)" class="dotDiv" style="height: 200px; width:400px; display:block; position:absolute; top:@(item2.Y - 15)px; left:@(item2.X - 15)px; background-color: white; border-radius: 5px; visibility: hidden;">
        <button onclick="hideDotID(@item2.ID)">x</button>
        <h4>@item2.naam</h4>
        <p>@item2.description</p>
        <p>Score: @item2.score</p>

        <form class="cGenral" method="post">

            <button name="button" value="plus,@(item2.ID),@(item2.score)">plus</button>
            <button name="button" value="min,@(item2.ID),@(item2.score)">min</button>

        </form>

        <!-- <a class="action" href="@Url.Action("Plus", "HomeController", new { commentId = @item2.commentId })">plus</a>
         <a class="action" href="@Url.Action("min", "HomeController", new { commentId = @item2.commentId })">min</a> -->
    </div>
}

                </div>
            }

            
            </div>
            
            <div id="comments">
                <div id="commentTabs">
                    <div class="cTab" id="generalTab"><a>General</a></div>
                
                </div>


                <div id="gComment">
                    @Html.Partial("CommentView")

                </div>

                      @foreach (var item in @ViewBag.current)
                      {
                <form method="post">       
                    <input id="commentText" name="commentText" type="text" required />
                    <input class="hide" id="designID" name="designID" value="@item.versionID" />
                    <input class="submitComment" type="submit" value="Send" name="button" />
                </form>
                      }
                    <div class="cTab" id="specificTabs"><a>Specific</a></div>
            <div id="PartialView">
                @Html.Partial("DotComment")

            </div>
            </div>
            </div>
        <script type="text/javascript" src="~/Scripts/dot.js"></script>
   
     <script type="text/javascript">
         var vis = 0;

         function showDotID(id) {

             var idDiv = "dotDiv" + id;
             //alert(idDiv);
             var elems = document.getElementsByClassName('dotDiv');
             for (var i = 0; i < elems.length; i++) {
                 elems[i].style.visibility = 'hidden';
             }
             //if (vis == 0) {
             document.getElementById(idDiv).style.visibility = "visible";
             //vis = 1;
             //}
             //else {
             //        document.getElementById(idDiv).style.visibility = "hidden";
             //        vis = 0;
             //}

         }

         function hideDotID(id) {
             var idDiv = "dotDiv" + id;
             document.getElementById(idDiv).style.visibility = "hidden";
         }

         function removeDots() {

             var elems = document.getElementsByClassName('dotstyle');
             for (var i = 0; i < elems.length; i++) {
                 elems[i].style.visibility = 'hidden';
             }
         }

         function showDots() {
             //  alert(stage);

             var elems = document.getElementsByClassName('dotstyle');
             for (var i = 0; i < elems.length; i++) {
                 elems[i].style.visibility = 'visible';
             }
         }

         /*Canvas resizen*/
         var canv = document.getElementById("placeDots");
         var des = document.getElementById("design");
         var curr_width = des.style.width;
         var curr_height = des.style.height;

         canv.style.setAttribute('width', curr_width);
         canv.style.setAttribute('height', curr_height);
         /*----------------*/


    </script>
            
    </body>
       
</html>
