@{
    ViewBag.Title = "Beamer";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Beamer</title>
    <link href="~/Content/css/screen.css" rel="stylesheet" />
    <link href="~/Content/css/normalize.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div id="progress" style="width: 0px; height: 5px; background-color: white; position:absolute; bottom:0px;"></div>
    <script type="text/javascript">
        var myVar = setInterval(function () { myTimer() }, 20);
        var procent = 0;
        function myTimer() {
            //alert(document.body.clientWidth);
            procent += 0.25;
            document.getElementById('progress').style.width = procent + '%';
            if (document.getElementById('progress').style.width == '100%') {
                window.clearInterval(myVar);
                //reload
                procent = 0;
                onDropDownChange();
            }
        }

        function onDropDownChange(e) {
            var url = '/Beamer/Beamer/';
            $.ajax({
                url: url,
                data: {}, //parameters go here in object literal form
                type: 'GET',
                datatype: 'json',
                success: function (data) {

                    $('#display').load(url);

                },
                error: function () { alert('something bad happened'); }
            });
        }

    </script>
   
    <div id="display">
         <div id="wrapper">
        @foreach (var item in @ViewBag.current)
        {
               <div id="uploadedDesign">   
            
            <h5>@item.title</h5>

            <div id="design" style="position:relative; display: block;">
                <img src="~/uploads/@item.url" />
                <p id="designDescription">@item.description</p>

            </div>
                   </div>
        }

         <div id="comments">
                <div id="commentTabs">
                    <div class="cTab" id="generalTab"><a>General</a></div>
                </div>


                <div id="gComment">
                    @Html.Partial("../Home/CommentView")

                </div>

                      @foreach (var item in @ViewBag.current)
                      {
                
                      }

            </div>
           
        </div>
    </div>
</body>
</html>
