@{
    ViewBag.Title = "Navigation";
}
    <h1>PurplePen</h1>
  <nav>
    <a href='@Url.Action("Index", "Home")'>Current</a>
    <a href='@Url.Action("History", "History")'>History</a>
    <a href='@Url.Action("Portfolio", "Portfolio")'>Portfolio</a>
    <a href='@Url.Action("Upload", "Upload")'>Upload</a>
@*    <a href='@Url.Action("Ranking", "Ranking")'>Ranking</a>
    <a href='@Url.Action("Inspiration", "Inspiration")'>Inspiration</a>*@
        </nav>